body {
  background-color: rgb(0, 123, 0);
}

#r1 {
  background-color: antiquewhite;
  width: 100%;
  text-align: center;
}

.dosc {
  display: inline-grid;
  grid-template-columns: 25% 75%;
  width: 100%;
}

.dosc div {
  height: 350px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

#pi {
  border: 2px solid darkgoldenrod;
  background-color: darkgoldenrod;
  color: ghostwhite;
  font-weight: bold;

}
#pc {
  border: 2px solid rgb(227, 166, 11);
  background-color: rgb(227, 166, 11);
}


#paole {
  width: 117px;
}

#lbldecl {
  display: none;
}

#lblconj {
  display: none;
}

#palabra {
  width: 164px;
  max-width: 165px;
}

.esq {
  display: none;
  padding-top: 10px;
}


